<!DOCTYPE html>
{% extends 'authentication_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <h3>Bem Vindo ao EquiRepro</h3>
    <p>Entre no Sistema. Para vê-lo em ação.</p>
    <form class="m-t" role="form" method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}

{#        <div class="form-group">#}
{#            <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.email }}" class="form-control" placeholder="E-mail">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <input type="password" id="{{ form.password.password }}" name="{{ form.password.password }}" class="form-control" placeholder="Senha">#}
{#        </div>#}
        <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>

        <a href="#"><small>Esqueceu sua senha?</small></a>
        <p class="text-muted text-center"><small>Ainda não possui uma conta?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="{% url 'register' %}">Registre-se</a>
    </form>

{% endblock %}
