{% extends 'base.html' %}

{% block title %}Excluir Cliente{% endblock %}

{% block header %}
    <div class="col-lg-10">
        <h2>Excluir Cliente</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <p>Clientes</p>
            </li>
            <li class="breadcrumb-item">
                <strong>Excluir Cliente</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

    <form action="{% url 'client_delete' client_id %}" method="POST">
        {% csrf_token %}

        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold">Deseja excluir esse Cliente?</h3>
            <div class="error-desc">
                Se você excluir todas as informações seram perdidas!<br><br>
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="{% url 'client_list' %}" class="btn btn-white">Cancelar</a>
            </div>
        </div>
    </form>

{% endblock %}