{% extends 'base.html' %}

{% block title %}Exluir Auxiliar{% endblock %}

{% block header %}
    <div class="col-lg-10">
        <h2>Excluir Auxiliar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <p>Auxiliares</p>
            </li>
            <li class="breadcrumb-item">
                <strong>Excluir Auxiliar</strong>
            </li>
        </ol>
    </div>

{% endblock %}

{% block content %}

    <form action="{% url 'auxiliar_delete' auxiliar_id %}" method="POST">
        {% csrf_token %}

        <div class="middle-box text-center">
            <h3 class="font-bold">Deseja excluir esse Auxiliar?</h3>
            <div class="error-desc">
                Se você excluir todas as informações seram perdidas!<br><br>
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="{% url 'auxiliar_list' %}" class="btn btn-white">Cancelar</a>
            </div>
        </div>
    </form>

{% endblock %}