<div class="modal-header">
    <h4 class="modal-title">{{ object.name }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <span class="bar">Haras</span>
            <h5>{{ object.allocation.name }}</h5>
        </div>
        <div class="col-md-4">
            <span class="line">Propietario</span>
            <h5>{{ object.proprietary.name }}</h5>
        </div>
        <div class="col-md-4">
            <span class="bar">Auxiliar</span>
            <h5>{{ object.ancillary.name }}</h5>
        </div>
    </div>
    <div class="user-button">
        <div class="row">
            <div class="col-md-4">
                <a href="https://api.whatsapp.com/send?phone={{ object.ancillary.phone }}" type="button" class="btn btn-primary btn-sm btn-block" target="_blank"><i class="fa fa-envelope"></i> Envie uma mensagem</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
</div>