<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <div class="ibox-content text-center">
                <h1>{{ object.name }}</h1>
                <p class="font-bold">{{ object.get_type_display }}</p>

                <ul class="list-unstyled m-t-md">
                    <li>
                        <label>Proprietario:</label>
                        {{ object.proprietary.name }}
                    </li>
                    <li>
                        <label>Haras:</label>
                        {{ object.allocation.name }}
                    </li>
                    <li>
                        <label>Auxiliar:</label>
                        {{ object.ancillary.name }}
                    </li>
                </ul>

                <div class="text-center">
                    <a class="btn btn-xs btn-primary">Envie uma mensagem</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
</div>