{% extends 'base.html' %}
{% load static %}

{% block title %}Doadoras{% endblock %}

{% block header %}

    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eguas Doadoras</h5>

                    <div class="ibox-tools">
                        <a type="button" class="btn-white btn btn-xs" href="{% url 'new_animal' 'doadora' %}">Novo</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Busca">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-filter=#filter>
                        <thead>
                        <tr>

                            <th data-toggle="true">Nome</th>
                            <th>Proprietário</th>
                            <th>Locação</th>
                            <th>Auxiliar</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for doadora in object_list %}

                            <tr>
                                <td>{{ doadora.name }}</td>
                                <td>{{ doadora.proprietary }}</td>
                                <td>{{ doadora.allocation }}</td>
                                <td>{{ doadora.ancillary }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>

{% endblock %}