{% extends 'base.html' %}
{% load static %}

{% block title %}Garanhões{% endblock %}

{% block header %}

    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Garanhões</h2>
            <ol class="breadcrumb">
                <li>
                    <p>Animais</p>
                </li>
                <li class="active">
                    <strong>Garanhões</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        {% if object_list %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Garanhões</h5>
                            <div class="ibox-tools">
                                <a href="{% url 'garanhao_create' %}" class="btn btn-primary btn-xs">+ Novo Garanhão</a>
                            </div>
                        </div>

                        <div class="ibox-content">

                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Busca">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-filter=#filter>
                                <thead>
                                <tr>

                                    <th data-toggle="true">Nome</th>
                                    <th>Proprietário</th>
                                    <th>Locação</th>
                                    <th>Auxiliar</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for garanhao in object_list %}

                                    <tr>
                                        <td><a data-toggle="tab" href="#" class="client-link">{{ garanhao.name }}</a></td>
                                        <td>{{ garanhao.proprietary }}</td>
                                        <td>{{ garanhao.allocation }}</td>
                                        <td>{{ garanhao.ancillary }}</td>
                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button class="btn-white btn btn-xs">Editar</button>
                                                <button class="btn btn-xs btn-danger">Excluir</button>
                                            </div>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="middle-box text-center animated fadeInRightBig">
                <h3 class="font-bold">Nenhum Garanhão Cadastrado</h3>
                <div class="error-desc">
                    Cadastre seus garanhões aqui!
                    <br/><a href="{% url 'garanhao_create' %}" class="btn btn-primary m-t">+ Novo Garanhão</a>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>

{% endblock %}