{% extends 'base.html' %}

{% block title %}Exluir Animal{% endblock %}

{% block header %}

    <div class="col-lg-10">
        <h2>Excluir</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <p>Animais</p>
            </li>
            <li class="breadcrumb-item">
                <strong>Excluir</strong>
            </li>
        </ol>
    </div>

{% endblock %}

{% block content %}

    <form action="{% url confirme animal_id %}" method="POST">
        {% csrf_token %}

        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold">Deseja excluir esse Animal?</h3>
            <div class="error-desc">
                Se você excluir todas as informações seram perdidas!<br><br>
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="{% url cancel %}" class="btn btn-white">Cancelar</a>
            </div>
        </div>
    </form>

{% endblock %}