{% extends 'base.html' %}

{% block title %}Exluir Animal{% endblock %}

{% block content %}

    <form action="{% url confirme animal_id %}" method="POST">
        {% csrf_token %}

        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h3 class="font-bold">Deseja excluir esse Animal?</h3>
                <div class="error-desc">
                    Se você excluir todas as informações seram perdidas!<br><br>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                    <a href="{% url cancel %}" class="btn btn-white">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}