{% extends 'base.html' %}

{% block title %}Ciclo Estral{% endblock %}

{% block header %}

    <div class="col-lg-10">
        <h2>Ciclo Estral</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <p>{{ egua_obj.name }}</p>
            </li>
            <li class="breadcrumb-item active">
                <strong>Ciclo Estral</strong>
            </li>
        </ol>
    </div>

{% endblock %}

{% block content %}

    {% if object_list %}

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="text-center float-e-margins p-md">
                            <a href="{% url ciclo_estral_create egua_obj.id %}" class="btn btn-sm btn-primary">+ Novo Registro</a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="vertical-container dark-timeline">
                            {% for ciclo in object_list %}
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <div class="vertical-timeline-content">
                                        <h2>{{ ciclo.date }}</h2>
                                        <p>{{ ciclo.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="middle-box text-center">
            <h3 class="font-bold">Nenhum Registro</h3>
            <div class="error-desc">
                Registre o ciclo estral aqui!
                <br/><a href="{% url ciclo_estral_create egua_obj.id %}" class="btn btn-info m-t">+ Novo Registro</a>
            </div>
        </div>

    {% endif %}


{% endblock %}