{% extends 'base.html' %}
{% load static %}

{% block title %}Ciclo Estral Cadastro{% endblock %}

{% block header %}

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Registro</h2>
            <ol class="breadcrumb">
                <li>
                    <p>Ciclo Estral</p>
                </li>
                <li class="active">
                    <strong>Registro</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Novo Registro</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal">
                            {% csrf_token %}

                            {% for field in form %}

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ field.label }}</label>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href="{% url 'receptora_ciclo_estral' egua_id %}" class="btn btn-white">Cancelar</a>
                                    <button class="btn btn-primary" type="submit">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('#date_added').datepicker({
                format: "dd/mm/yyyy",
                language: 'pt-BR',
            });

        });
    </script>

{% endblock %}