{% extends 'base.html' %}

{% block title %}Ciclo Estral{% endblock %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{ egua_obj.name }}</h2>
            <ol class="breadcrumb">
                <li>
                    <p>{{ title }}</p>
                </li>
                <li class="active">
                    <strong>Ciclo Estral</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="text-center float-e-margins p-md">
                        <a href="{% url create_page egua_obj.id %}" class="btn btn-sm btn-primary">+ Novo Registro</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="vertical-container dark-timeline">
                        {% for ciclo in object_list %}
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>{{ ciclo.date }}</h2>
                                    <p>{{ ciclo.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}