{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}Garanhões{% endblock %}

{% block head %}

    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">

{% endblock %}

{% block header %}

    <h2>Garanhões</h2>

{% endblock %}

{% block content %}

    {% if object_list %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Garanhões</h5>
                        <div class="ibox-tools">
                            <a href="{% url 'garanhao_create' %}" class="btn btn-info btn-xs">+ Novo Garanhão</a>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Busca">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-filter=#filter>
                            <thead>
                            <tr>

                                <th data-toggle="true">Nome</th>
                                <th data-hide="all">Proprietário</th>
                                <th data-hide="all">Locação</th>
                                <th data-hide="all">Auxiliar</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for garanhao in object_list %}

                                <tr>
                                    <td>{{ garanhao.name }}</td>
                                    <td>{{ garanhao.proprietary }}</td>
                                    <td>{{ garanhao.allocation }}</td>
                                    <td>{{ garanhao.ancillary }}</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <a href="https://web.whatsapp.com/send?phone=+55{{ garanhao.ancillary.phone|remove_mask }}" target="_blank" class="btn btn-xs btn-primary">
                                                <i class="fa fa-whatsapp"></i> Mensagem</a>
                                            <a href="{% url 'garanhao_update' garanhao.id %}" class="btn-white btn btn-xs"><i class="fa fa-edit"></i> Editar</a>
                                            <a href="{% url 'garanhao_delete' garanhao.id %}" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Excluir</a>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="middle-box text-center">
            <h3 class="font-bold">Nenhum Garanhão Cadastrado</h3>
            <div class="error-desc">
                Cadastre seus garanhões aqui!
                <br/><a href="{% url 'garanhao_create' %}" class="btn btn-info m-t">+ Novo Garanhão</a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>

{% endblock %}