{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Haras{% endblock %}

{% block head %}

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block header %}
    <div class="col-lg-10">
        <h2>Cadastrar Haras</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <p>Haras</p>
            </li>
            <li class="breadcrumb-item">
                <strong>Cadastrar Haras</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Novo Haras</h5>
                </div>
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="ibox-content">

                        <div class="form-group row">
                            <label class="control-label col-sm-2">{{ form.name.label }}</label>
                            <div class="col-sm-10">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2">{{ form.proprietary.label }}</label>
                            <div class="col-sm-10">
                                {{ form.proprietary }}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <h3 class="control-label col-sm-2">Endereço</h3>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2">{{ address_form.street.label }}</label>
                            <div class="col-sm-4">
                                {{ address_form.street }}
                            </div>

                            <label class="control-label col-sm-2">{{ address_form.number.label }}</label>

                            <div class="col-sm-4">
                                {{ address_form.number }}
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2">{{ address_form.district.label }}</label>
                            <div class="col-sm-10">
                                {{ address_form.district }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2">{{ address_form.city.label }}</label>
                            <div class="col-sm-4">
                                {{ address_form.city }}
                            </div>
                            <label class="control-label col-sm-2">{{ address_form.state.label }}</label>
                            <div class="col-sm-4">
                                {{ address_form.state }}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">{{ form.observation.label }}</label>
                            <div class="col-sm-10">
                                {{ form.observation }}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="{% url 'haras_list' %}" class="btn btn-white">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight"></div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $(".selectP").select2()
                .on('select2:open', () => {
                    $(".select2-results:not(:has(button))")
                        .append('<button type="button" data-remote="{% url 'client_create_modal' %}" class="btn btn-block btn-outline btn-default" data-toggle="modal" data-target="#myModal" data-tooltip>Cadastrar Proprietário</button>');
                });

            $(".selectE").select2();

            $('body').on('click', '[data-toggle="modal"]', function(){
                $($(this).data("target")+' .modal-content').load($(this).data("remote"));
            });

        });

    </script>

{% endblock %}