{% extends 'base.html' %}
{% load static %}

{% block title %}Novo Haras{% endblock %}

{% block header %}

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Cadastrar Haras</h2>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Novo Haras</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ form.name.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.name }}
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ form.proprietary.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.proprietary }}
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Endereço</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ address_form.street }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ address_form.number }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ address_form.district }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ address_form.city }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ address_form.state }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ form.observation.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.observation }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href="{% url 'haras_list' %}" class="btn btn-white">Cancelar</a>
                                    <button class="btn btn-primary" type="submit">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal inmodal" id="clienteModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $(".selectP").select2();

            $(".selectE").select2({
                placeholder: "Estado"
            })
        });

    </script>

{% endblock %}